extends ./layout.pug

block content
  h1 Main Page

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.

  h2 Accusantium facilis provident labore enim

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium facilis provident labore enim, quis suscipit eum harum doloremque totam perspiciatis impedit, molestias praesentium, omnis vero quidem architecto laudantium sed esse.
