extends ../node_modules/pattern-lib/templates/layout.pug

block content
  h1 Products

  if products
    table
      each product in products
        tr
          td
            if loggedIn
              async-form(on-success="basket:item-added" form-event-props="name")
                form(action="/ordering/basket" method="POST")
                  input(type="submit" value="Add to basket")
                  input(type="hidden" name="id" value=product.id)
                  input(type="hidden" name="name" value=product.name)
          td= product.name
          td= product.description
